.title-page .btn:hover,
.title-page .btn:active,
.title-page .btn.active,
.title-page .btn:focus,
.title-page .btn.active:focus,
.title-page .btn:active:focus,
.title-page .btn.active.focus {
  background: rgba(196, 81, 250, 0.1) !important;
  box-shadow: none;
}

.title-page .btn-outline-primary {
  color: rgb(196, 81, 250) !important;
  border-color: #c451fa !important;
}

@media (min-width: 0px) {
  .title-page .container {
    max-width: 100% !important;
  }
}
