.title-page .btn:hover,
.title-page .btn:active,
.title-page .btn.active,
.title-page .btn:focus,
.title-page .btn.active:focus,
.title-page .btn:active:focus,
.title-page .btn.active.focus {
  background: rgba(255, 0, 0, 1) !important;
  box-shadow: none;
}

.title-page .btn-outline-primary {
  color: rgb(255, 255, 255) !important;
  border-radius: 0%;
  border-color: rgba(150, 0, 0, 1) !important;
  background: rgba(150, 0, 0, 1) !important;
}

@media (min-width: 0px) {
  .title-page .container {
    max-width: 100% !important;
  }
}
