.no-border {
  border: 0 !important;
  box-shadow: none;
  outline: none;
}

.no-border:focus {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #111 !important;
  opacity: 1; /* Firefox */
}
