.no-border {
  border: 0 !important;
  box-shadow: none;
  outline: none;
}

.no-border:focus {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #111 !important;
  opacity: 1; /* Firefox */
}

.blink {
  animation: blink 5s ease-in-out 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
