.no-border {
  border: 0 !important;
  box-shadow: none;
  outline: none;
}

.no-border:focus {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #111 !important;
  opacity: 1; /* Firefox */
}

.blink {
  animation: blink 5s ease-in-out 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadenow-enter {
  opacity: 0;
}

.fadenow-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadenow-exit {
  opacity: 0;
}

.fadenow-exit-active {
  opacity: 0;
}

.fade-spinner-enter {
  opacity: 1;
}

.fade-spinner-enter-active {
  opacity: 0;
  transition: opacity 0ms;
}

.fade-spinner-exit {
  opacity: 0;
}

.fade-spinner-exit-active {
  opacity: 0;
}
