li.list-group-item {
  background: #232323;
  border: none;
}

.bg-overlay {
  background-color: rgba(11, 11, 11, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
}

.movie-bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
